td div {
    border-style: solid;
    border-radius: 9px;
    border-color: #000000;
    padding: 10px;
    margin: 3px;
    box-shadow: 3px 3px 5px rgb(79, 76, 76);

}
h2 div {
    
}
body {
    
    display:inline-block;
    padding:10px ;
    border-width: 3px 20px 15px 3px;
    margin:5px ;

}